@import "styles/mixins";

.root {
  @apply fixed left-0 top-[4.5rem] h-[calc(100vh-4.5rem)] bottom-0 bg-$main-bg w-full transition-transform duration-300 ease z-2 overflow-y-auto
         tablet:(max-w-[619px])
         desktop:(max-w-[calc(719px+6.5rem)] inset-0 h-screen pl-26);
  h1 {
    @apply text-2xl;
  }
}

.padding {
  @apply px-6;
}

.content {
  @apply relative tablet:pt-6;
  h1 {
    @apply mb-6;
    span { 
      @apply text-$shipCove;
    }
  }
}

.colorLabel {
  @include normalText;
  @apply text-$purple font-bold mb-6;
}

.inputGrid {
  @apply w-full grid grid-cols-2 grid-rows-2 gap-x-2 gap-y-0
         tablet:(grid-cols-3 grid-rows-1);
  div {
    @apply last:col-span-2 tablet:(last:col-span-1);
  }
}

.formGroup {
  @apply w-full grid grid-cols-1 gap-2 tablet:(grid-cols-2);
}

.bottomControls {
  @apply h-20 w-full relative flex flex-nowrap items-center bottom-0 left-0 justify-end px-6 mt-14 tablet:(pb-8 justify-between);
  button {
    @apply ml-2;
  }
}